<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin-ext" rel="stylesheet">
    <!--<link rel="stylesheet" href="../css/style.css">-->
    <title>Szkoła językowa dąbek<span class="icon">
            <i class="fas fa-home"></i>
          </span></title>
</head>
<body>
    <header>
        <h1>Szkoła językowa Dąbek</h1>
        <a routerLink="/login">Logowanie</a>
    </header>
    <section class="levels clearfix">
            <h1>Poziomy kursów w naszej szkole</h1>
            <div class="levelgap"><i class="fas fa-user-graduate"></i><h1>C1 | C2</h1><p>Poziom zaawansowany jest kierowany do osób, które chcą doskonalić swój angielski i posadają certyfikat B2.</p></div>
            <div class="levelgap"><i class="fas fa-graduation-cap"></i><h1>B1 | B2</h1><p>Poziom średnio-zaawansowany jest kierowany do osób, które mają już solidne podstawy języka i posadają certyfikat A2.</p></div>
            <div class="levelgap"><i class="fas fa-user"></i><h1>A1 | A2</h1><p>Poziom początkujący jest kierowany do każdego, kto chce rozpocząć swoją przygodę z językiem angielskim.</p></div>
    </section>
    <footer>
        &copy; Super dziennik nimbus 2000 by Maciej Grabowski, Kamil Strąk, Adam Woźniak
    </footer>
</body>
</html>