body{
    background-image: url("/assets/img/szkola.jpg");
    background-position: center 20%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* font-family: 'Roboto', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

body{
    font-family: 'roboto', 'arial', sans-serif;
}

header{
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    height: 100vh;
    background-image: url("/assets/img/szkola.jpg");
    background-position: center 20%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header h1{
    position: absolute;
    top: 5vh;
    width: 100%;
    padding: 25px 0;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, .65);
    color: white;
    
}

header a{
    position: absolute;
    bottom: 7vh;
    right: 7%;
    padding: 20px 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    background-color: rgba(0, 0, 0, .65);
    border: 2px solid white;
    color: white;
    transition: .3s;
}

header a:hover{
    background-color: black;
    cursor: pointer;
}

.levels{
    max-width: 1920px;
}

.levels h1{
    margin: 50px;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

.levels .levelgap{
    width: 33.33%;
    float: left;
    text-align: center;
    padding: 30px 30px;
    transition: .3s;
}

.levels .levelgap:hover{
    background-color: #aaa;
    cursor: pointer;
}

.levels .levelgap h1{
    font-size: 32px;
}

.levels .levelgap i{
    font-size: 50px;
}

.levels .levelgap p{
    font-size: 20px;
    text-align: justify;
}

footer{
    margin-top: 60px;
    padding: 30px 10px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}

.log{
    position: relative;
    height: 80vh;
    max-width: 1024px;
    margin: 10px auto;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, .65);  
}

.log h1{
    position: absolute;
    top: 20px;
    right: 15%;
    color: white;
    font-family: "roboto";

}

.log .login{
    position: absolute;
    width: 250px;
    right: 15%;
    top: 80px;
    font-size: 20px;
    text-align: right;
    padding: 5px;
}


.log .password{
    position: absolute;
    width: 250px;
    right: 15%;
    top: 140px;
    font-size: 20px;
    text-align: right;
    padding: 5px;
}

.log button{
    width: 250px;
    position: absolute;
    right: 15%;
    top: 200px;
    padding: 10px 40px;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    border: 2px solid white;
    font-size: 20px;
    transition: .3s;
}

.log a{
    width: 250px;
    position: absolute;
    right: 15%;
    top: 265px;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    border: 2px solid white;
    font-size: 20px;
    transition: .3s;
}

.log button:hover{
    background-color: black;
}

.log a:hover{
    background-color: black;
}


@media (max-width: 1279px){
    header h1{
        font-size: 30px;
    }
}

@media (max-width: 1023px){
    
    .levels .levelgap{
        width: 100%;
    }

    .levels .levelgap i{
        font-size: 100px;
    }

    .levels .levelgap p{
        font-size: 32px;
    }
}

@media (max-width: 539px){
    header h1{
        font-size: 20px;
    }

    header button{
        font-size: 16px;
    }

    .levels h1{
        font-size: 20px;
    }
    
    .levels .levelgap h1{
        font-size: 20px;
    }

    .levels .levelgap i{
        font-size: 80px;
    }

    .levels .levelgap p{
        font-size: 20px;
    }

    footer{
        font-size: 10px;
    }
}