<app-menu></app-menu>

<br><br><br><br>
<div class="columns  is-centered ">
    <div class="column is-12 is-offset-3">
<table class="table">
    <thead>
      <tr>
        <th> Imie</th>
        <th> Nazwisko</th>
        <th> Ocena</th>
        <th> Ocena</th>
        <th> Ocena</th>
        <th>Średnia ocen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
          <td><input class=" input-label is-small" type="text" [(ngModel)]="user.name" (change)="updateGrade(user)"></td>
          <td><input class="input-label is-small" type="text" [(ngModel)]="user.surname" (change)="updateGrade(user)"></td>
          <!--Oceny poniżej-->
          <td><input class="input-label is-small" type="text" [(ngModel)]="oceny.grades" (change)="updateGrade(user)"></td>
          <td><input class="input-label is-small" type="text" [(ngModel)]="oceny.grades" (change)="updateGrade(user)"></td>
          <td><input class="input-label is-small" type="text" [(ngModel)]="oceny.grades" (change)="updateGrade(user)"></td>


    </tr>
    </tbody>
  </table>
</div>
</div>

<app-footer></app-footer>