<app-menu></app-menu>

<br><br><br><br>
<div class="columns  is-centered ">
    <div class="column is-12 is-offset-3">
<table class="table">
    <thead>
      <tr>
        <th> Imię</th>
        <th> Nazwisko</th>
        <th> Grupa</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
        <td><input class="input-label is-small" type="text" [(ngModel)]="user.english_group" (change)="updateUser(user)"></td>
        <td><input class="input-label is-small" type="text" [(ngModel)]="user.english_group" (change)="updateUser(user)"></td>
      </tr>
    LRY2P45
    </tbody>
  </table>

  <!--Table with grades-->

  <table class="table">
    <thead>
      <tr>
        <th> Oceny</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let g of grades">
        <td><input class="input-label is-small" type="text" [(ngModel)]="g.grade" (change)="updateGrade(g)"></td>
      </tr>
    LRY2P45
    </tbody>
  </table>
</div>
</div>

<app-footer></app-footer>