<app-menu></app-menu>

<br><br><br><br>
<div class="columns  is-centered ">
    <div class="column is-12 is-offset-3">
<table class="table">
    <thead>
      <tr>
        <th> Id</th>
        <th> Name</th>
        <th> Surname</th>
        <th> Role</th>
        <th> Phone</th>
        <th> Address</th>
        <th> Email</th>
        <th class="has-text-danger">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th>{{user.id}}</th>
        <td><input class=" input-label is-small" type="text" [(ngModel)]="user.name" (change)="updateUsers(user)"></td>
        <td><input class="input-label is-small" type="text" [(ngModel)]="user.surname" (change)="updateUsers(user)"></td>
        <td><input class="input-label is-small" type="text" [(ngModel)]="user.occupation" (change)="updateUsers(user)"></td>
        <td><input class="input-label is-small" type="text" [(ngModel)]="user.phoneNumber" (change)="updateUsers(user)"></td>
        <td><input class="input-label is-small" type="text" [(ngModel)]="user.address" (change)="updateUsers(user)"></td>
        <td><input class="input-label is-small" type="text" [(ngModel)]="user.email" (change)="updateUsers(user)"></td>
        <p class="buttons">
               <a (click)="deleteUser(user)"><span class="button is-danger">Delete</span></a>
        </p>    
    </tr>

    </tbody>
  </table>
</div>
</div>

<app-footer></app-footer>